body {

    display: flex;
    flex-direction: column;
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    font-family: sans-serif;
    justify-content: center;
    align-items: center;

}

section {

    display: flex;
    flex-direction: column;
    margin: 15px;
    align-items: center;
    justify-content: center;

}

.squareGrid {

    display: grid;
    grid-template-columns: repeat(4, 90px); 
    grid-template-rows: repeat(4, 90px);
    width: 360px;
    height: 360px;
    align-self: center;
    align-items: center;
    justify-content: center;

}

.colorBtn {

    width: 90px;
    height: 90px;
    background-color: gray;
    border: none;

}