body {

    display: flex;
    flex-direction: column;
    background-color: white;
    color: black;
    font-family: sans-serif;
    justify-content: center;
    align-items: center;

}

section {

    display: flex;
    flex-direction: column;
    margin: 15px;
    align-items: center;
    justify-content: center;

}

.squareGrid {

    display: grid;
    grid-template-columns: repeat(4, 100px); 
    grid-template-rows: repeat(4, 100px);
    width: 400px;
    height: 400px;
    align-self: center;
    align-items: center;
    justify-content: center;

}

.colorBtn {

    width: 100px;
    height: 100px;
    background-color: gray;
    border: none;

}